<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WoW Avatar Census</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h1>WoW Avatar Census</h1>
            <p>Who's in Azeroth</p>
        </div>

        
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="sel-filter">Filter By Character Race:</label>
                    <select class="form-control" id="sel-filter-race"></select>
                  </div>                  
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h2>Character Races</h2>
                <div id="character-races-plot"></div>
            </div>
            <div class="col-md-6 col-sm-12">
                <h2>Races By Class</h2>
                <div id="races-by-class-plot"></div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.2.0/d3.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
